@import url(base.css);

#splash {
  align-items: center;
  background-color: black;
  display: flex;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  place-content: center;
  top: -100%;
  transition: top 3s ease-out;
  width: 100vw;
}
#splash .secondary {
  opacity: 0;
  transition: opacity 3s ease-in;
}
#splash h1 {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}
#splash h1 .primary {
  font-family: "Bungee Spice", cursive;
}
#splash h1 .secondary {
  font-family: "Nabla", cursive;
}
#splash .secondary.visible {
  opacity: 1;
}
#splash.animate {
  top: 0;
}
