@import url(ui.css);

:root {
  --z-index-floor: 0;
  --z-index-surface: 1;
  --z-index-bots: 2;
  --z-index-over: 3;
  --z-index-fow: 9;
  --z-index-ui: 10;
}

body .ui {
  visibility: hidden;
}

body #viewport {
  visibility: hidden;
}

body.status\=playing .ui {
  visibility: visible;
}
body.status\=playing #viewport {
  visibility: visible;
}

.layer\:floor {
  z-index: var(--z-index-floor);
}
.layer\:surface {
  z-index: var(--z-index-surface);
}
.layer\:bots {
  z-index: var(--z-index-bots);
}
.layer\:over {
  z-index: var(--z-index-over);
}

.floor {
  background: -4px 0/106% 100% url(textures/floor.png) repeat;
  z-index: var(--z-index-floor);
}

.robot {
  height: 20vmin;
  transform: rotateZ(0grad);
  transform-origin: 50% 50%;
  transition-duration: 1s;
  transition-property: top, left, transform;
  transition-timing-function: linear;
  width: 20vmin;
  z-index: var(--z-index-bots);
}

.tile {
  display: block;
  height: 20vmin;
  opacity: 1;
  transition: opacity 1s ease-out;
  width: 20vmin;
}
.tile.dirty {
  transition: background-color 1s ease-out;
}
.tile.dirty::before {
  opacity: 1;
}
.tile.fow {
  content-visibility: hidden;
  opacity: 0;
}

.tile > * {
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: var(--z-index-surface);
}
.tile > .dirt {
  opacity: 0;
  transition: opacity 1s ease-out;
}
.tile.dirty > .dirt {
  opacity: 1;
}

.ui {
  color: lightblue;
  font: bold 40px/1 system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-shadow: 0 0 2px black;
  z-index: var(--z-index-ui);
}

.wall {
  background: 0 0 / contain url(textures/cassandra-brown-brickwork-1.jpeg)
    repeat;
  border-radius: 3px;
  z-index: var(--z-index-surface);
}

#main {
  align-items: stretch;
  bottom: 0;
  display: flex;
  flex-direction: row;
  gap: 10px;
  left: 0;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
}
#main > * {
  flex-basis: 50%;
}

#battery {
  padding: 20px;
  position: fixed;
  right: 0;
  top: 0;
}

#menu {
  margin: 50vh auto;
  min-width: 20vw;
  padding: 1ex 1em;
  position: relative;
  text-align: center;
  top: -80px;
}
#menu h2 {
  font-family: Nabla, cursive;
  font-size: 60px;
}

#room {
  position: relative;
}
#room > * {
  position: absolute;
}

#stats {
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
}

#viewport {
  height: 100vmin;
  margin: 0 auto;
  width: 100vmin;
  overflow: hidden;
}
